/*Reglas de colores, paletas*/

:root {
/* HSL */
--color1: hsla(357%, 86%, 64%, 1);
--color2: hsla(197%, 41%, 17%, 1);
--color3: hsla(94%, 30%, 95%, 1);
--color4: hsla(7%, 23%, 45%, 1);
--color5: hsla(337%, 84%, 44%, 1);

/* RGB */
--color1: rgba(242, 84, 91, 1);
--color2: rgba(25, 50, 60, 1);
--color3: rgba(243, 247, 240, 1);
--color4: rgba(140, 94, 88, 1);
--color5: rgba(207, 18, 89, 1);
}
/*Ajustes en genreal*/

body{
    background-color: var(--color2);
}

/*ajustes personalizados de HEADER*/

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    margin-top: 80px;
}

.navbar-dark {
    color: var(--color2);
}
.bg-dark{
    background-color: var(--color2);
}

.navbar{
    color: var(--color2);
}

.jumbotron{
   background-image: url("http://www.alegsa.com.ar/Imagen/tecnologia_thumb.jpg");
   position: absolute;
   width: 100%;
   height: 45%;
   top: 0;
   left: 0;
   z-index: -1; 
   background-size: 100%;
   background-position-y: 45%;
   filter: blur(3px)
}
.title1{
    margin-top: 100px;
    text-align: center;
    padding-left: 5px;
    font-size: 60px;
}
/*---------Info-------------*/
.main {
    margin-top: 20px;
    margin-bottom: 20px;
}

.post {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #999; 
}

.post .thumbnail{
    margin-right: 10px;
    width: 40%;
}

.post .thumbnail img {
    width: 100%;
}

.carousel{
    margin-top: 205px;
}

.card {
    margin-left: 250px;
    margin-bottom: 50px;
}